PORT=3000

# Polymarket Data API
POLYMARKET_DATA_API_URL=https://data-api.polymarket.com

# Polymarket Market WebSocket
POLYMARKET_MARKET_WS_URL=wss://ws-subscriptions-clob.polymarket.com/ws/market

# Equity Curve API
EQUITY_CURVE_API_URL=https://vm-ip/v1/equity/curve
TOTP_CODE=
TOTP_TIMESTAMP=
